<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>mock-war</title>
    </head>
    <body>
        <h3 th:text="${page_title}">#</h3>
        <div>
            <button id="btn1">测试</button>
        </div>

        <script src="../js/jquery.min.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>